# Ignore datasets
Testing/datasets/
Testing/checkpoints/
# macOS system files
.DS_Store

# Python cache and bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
huggingface_time_rcd/
huggingface_anomalyclip
# VSCode settings
.vscode/

# Environment files
.env
.venv/
env/
venv/

# Log files
*.log

# Archive files
*.zip
*.tar.gz
*.tar
*.rar

# Ignore model checkpoints and outputs
*.ckpt
*.pth
*.h5
*.pt

# Ignore temporary files
*~
*.swp
*.swo
*.bak
*.md